#box {
  background-color: blue;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.heading {
  color: red;
}

.green-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.blue-btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.pink-btn {
  background-color: pink;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
